.ui-layout-north {
	z-index: 20 !important;
	overflow: visible !important;
}

.ui-layout-north .ui-layout-unit-content {
	overflow: visible !important;
}

.legend {
	border-left: 6px solid red;
	margin-top: 2000px;
	margin-bottm: 4000px;
}