<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>

	<h:outputStylesheet library="css" name="default.css" />

</h:head>

<h:body style="display:flex;">


	<h:form style=" margin:auto;">

		<p:growl id="growl-mensagem" showDetail="true" sticky="true" />

		<p:panel id="panel-login-principal" header="Cadastro"
			style="width:600px; ">

			<h:panelGrid id="panelGrid-campos-form">

				<p:outputLabel value="Nome Fantasia" for="inputText-nmSocial" />
				<p:inputText id="inputText-nmSocial" style="width:300px"
					maxlength="70" value="#{lojaController.lojaEntity.nm_fantasia}" />

				<p:outputLabel value="CNPJ" for="inputText-cnpj" />
				<p:inputMask mask="99.999.999/9999-99" id="inputText-cnpj"
					style="width:200px" value="#{lojaController.lojaEntity.cnpj}" />

				<p:outputLabel value="Endereço" for="inputText-endereco2" />
				<p:inputText id="inputText-endereco2" style="width:300px"
					maxlength="70" value="#{lojaController.lojaEntity.endereco}" />

				<p:outputLabel value="Cidade" for="inputText-cidade" />
				<p:inputText id="inputText-cidade" style="width:300px"
					maxlength="70" value="#{lojaController.lojaEntity.cidade}" />

				<p:outputLabel value="Estado" for="inputText-estado" />
				<p:inputText id="inputText-estado" style="width:300px"
					maxlength="70" value="#{lojaController.lojaEntity.estado}" />

				<p:outputLabel value="Telefone" for="inputText-telefone" />
				<p:inputMask mask="(99)9999-9999" id="inputText-telefone"
					style="width:130px" value="#{lojaController.lojaEntity.telefone}" />

				<p:spacer style="hight: 2px" />

				<p:outputLabel for="popup" value="Data:" />
				<p:calendar id="popup" value="#{lojaController.data}" />

				<p:pickList style="margin-top: 10px; margin-bottom: 10px;"
					id="pickList" value="#{lojaController.horas}" var="hora"
					itemLabel="#{hora}" itemValue="#{hora}" />

				<p:commandButton style="margin-bottom: 10px; margin-left: 130px"
					value="Cadastrar Tempo" id="commandButton-tempo"
					icon="ui-icon-gear" update="panelGrid-campos-form"
					action="#{lojaController.cadastrarTempo}" />

				<h:panelGrid style="margin: 0 auto;" columns="2">

					<p:commandButton value="Cadastrar loja"
						id="commandButton-cadastrar" icon="ui-icon-gear"
						styleClass="btn btn-primary"
						action="#{lojaController.cadastrarLoja}" />

					<p:commandButton value="Cancelar" id="commandButton-cancelar"
						icon="ui-icon-gear" styleClass="btn btn-secondary" action="#{lojaController.cancelarRedirect}" />

				</h:panelGrid>

			</h:panelGrid>

		</p:panel>
	</h:form>

	<f:metadata>
		<f:event type="preRenderView" listener="#{lojaController.init}" />
	</f:metadata>

</h:body>
</html>