<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:adm="http://github.com/adminfaces"
	template="/template/layoutBase.xhtml">

	<ui:define name="title">
        Gerenciar Usuario
    </ui:define>

	<ui:define name="body">

		<h:form id="form-cadastro">
			<h:panelGrid style="text-align: center;">
			
				<p:dataTable id="dataTable-registros" var="l"
					value="#{gerenciarUserController.listHorasMarcadas}" rows="15"
					paginator="true"
					paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="5,10,15" style="width:98%;">

					<p:column headerText="Nome Loja" style="width:10px;" 
						filterBy="#{l.loja.nm_fantasia}" sortBy="#{l.loja.nm_fantasia}">
						<h:outputText value="#{l.loja.nm_fantasia}" />
					</p:column>
					
					<p:column headerText="Telefone" style="width:10px;"  filterBy="#{l.loja.telefone}" filterMatchMode="contains"	
						sortBy="#{l.loja.telefone}">
						<h:outputText value="#{l.loja.telefone}">
						<f:converter converterId="phoneConverter" />
						</h:outputText>
					</p:column>
					
					<p:column headerText="Endereço" style="width:10px;" 
						filterBy="#{l.loja.endereco}" sortBy="#{l.loja.endereco}">
						<h:outputText value="#{l.loja.endereco}" />
					</p:column>
					
					<p:column headerText="Cidade" style="width:10px;" 
						filterBy="#{l.loja.cidade}" sortBy="#{l.loja.cidade}">
						<h:outputText value="#{l.loja.cidade}" />
					</p:column>
					
					<p:column headerText="Data" style="width:10px;" 
						filterBy="#{l.data}" sortBy="#{l.data}">
						<h:outputText value="#{l.data}">
						<f:convertDateTime pattern="dd-MM-yyyy" />
						</h:outputText>
					</p:column>
					
					<p:column headerText="Valor" style="width:4px;">
						<h:outputText value="#{l.valor}">
							<f:convertNumber pattern="#,##0.00" />
						</h:outputText>
					</p:column>
					
					<p:column headerText="Hora" style="width:10px;" >
						<h:outputText value="#{l.hora.hora}" />
					</p:column>
					
					<p:column headerText="" style="width:17px;">

					<p:commandButton icon="ui-icon-check" title="Cancelar/Finalizar"
							process="@this" update="@this" ajax="false"
							actionListener="#{gerenciarUserController.finalizarCancelar(l)}" />

					</p:column>

				</p:dataTable>

			</h:panelGrid>
		</h:form>

	</ui:define>

	<f:metadata>
		<f:event type="preRenderView" listener="#{gerenciarUserController.init}" />
	</f:metadata>

</ui:composition>