<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:adm="http://github.com/adminfaces"
	template="/template/layoutBase.xhtml">

	<ui:define name="title">
        Gerenciar Loja
    </ui:define>

	<ui:define name="body">

		<h:form id="form-cadastro">
			<h:panelGrid style="text-align: center;">
			
				<p:outputLabel for="popup" value="Data:" />
				<p:calendar id="popup" value="#{gerenciarLojaController.data}">
					<p:ajax event="dateSelect"  
        				listener="#{gerenciarLojaController.populaPicker}" 
        				update="@form" process="@this"/>
				</p:calendar>
				
				<p:pickList style="margin-top: 10px; margin-bottom: 10px; margin-left: 320px;"
					id="pickList" value="#{gerenciarLojaController.horas}" var="hora"
					itemLabel="#{hora}" itemValue="#{hora}" />
				
				<p:commandButton style="margin-bottom: 10px;" value="Cadastrar Tempo" id="commandButton-tempo"
					icon="ui-icon-gear" update="pickList popup"
					action="#{gerenciarLojaController.cadastrarTempo}" />
			
			
				<p:dataTable id="dataTable-registros" var="l"
					value="#{gerenciarLojaController.listHorasMarcadas}" rows="15"
					paginator="true"
					paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="5,10,15" style="width:98%;">

					<p:column headerText="Nome Usuaria" style="width:10px;" 
						filterBy="#{l.usuario.nome}" sortBy="#{l.usuario.nome}">
						<h:outputText value="#{l.usuario.nome}" />
					</p:column>
					
					<p:column headerText="Sexo" style="width:10px;" 
						filterBy="#{l.usuario.sexo}" sortBy="#{l.usuario.sexo}">
						<h:outputText value="#{l.usuario.sexo}" />
					</p:column>
					
					<p:column headerText="Email" style="width:10px;" 
						filterBy="#{l.usuario.email}" sortBy="#{l.usuario.email}">
						<h:outputText value="#{l.usuario.email}" />
					</p:column>
					
					<p:column headerText="Telefone" style="width:10px;" filterBy="#{l.usuario.telefone}" filterMatchMode="contains"	
						sortBy="#{l.usuario.telefone}">
						<h:outputText value="#{l.usuario.telefone}">
						<f:converter converterId="phoneConverter" />
						</h:outputText>
					</p:column>
					
					<p:column headerText="Data" style="width:10px;" 
						filterBy="#{l.data}" sortBy="#{l.data}">
						<h:outputText value="#{l.data}">
						<f:convertDateTime pattern="dd-MM-yyyy" />
						</h:outputText>
					</p:column>
					
					<p:column headerText="Valor" style="width:4px;">
						<h:outputText value="#{l.valor}">
							<f:convertNumber pattern="#,##0.00" />
						</h:outputText>
					</p:column>
					
					<p:column headerText="Hora" style="width:10px;" >
						<h:outputText value="#{l.hora.hora}" />
					</p:column>
					
					<p:column headerText="" style="width:17px;">

					<p:commandButton icon="ui-icon-check" title="Cancelar/Finalizar"
							process="@this" update="@this" ajax="false"
							actionListener="#{gerenciarLojaController.finalizarCancelar(l)}" />

					</p:column>

				</p:dataTable>

			</h:panelGrid>
		</h:form>

	</ui:define>

	<f:metadata>
		<f:event type="preRenderView" listener="#{gerenciarLojaController.init}" />
	</f:metadata>

</ui:composition>