<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:adm="http://github.com/adminfaces"
	template="/template/layoutBase.xhtml">

	<ui:define name="title">
        Home
    </ui:define>

	<ui:define name="body">

		<h:form id="form-cadastro">
			<h:panelGrid style="text-align: center;">

				<p:outputLabel for="popup" value="Data:" />
				<p:calendar id="popup" value="#{homeController.data}" />

				<p:pickList style="margin-top: 10px; margin-bottom: 10px"
					id="pickList" value="#{homeController.horas}" var="hora"
					itemLabel="#{hora}" itemValue="#{hora}" />

				<h:panelGrid style="margin: 0 auto;" columns="2">

					<p:commandButton value="Continuar" id="commandButton-continuar"
						icon="ui-icon-gear" styleClass="btn btn-primary" action="#{homeController.continuar2}" />

					<p:commandButton value="Voltar" id="commandButton-voltar"
						icon="ui-icon-gear" styleClass="btn btn-secondary" action="#{homeController.voltarPrimeiro}" />


				</h:panelGrid>

			</h:panelGrid>
		</h:form>

	</ui:define>

	<f:metadata>
		<f:event type="preRenderView" listener="#{homeController.init2}" />
	</f:metadata>

</ui:composition>