<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:adm="http://github.com/adminfaces"
	template="/template/layoutBase.xhtml">

	<ui:define name="title">
        Home
    </ui:define>

	<ui:define name="body">

		<h:form id="form-cadastro">
			<h:panelGrid id="panelGrid-campos-form" style="margin: 0 auto;">
			
				<p:outputLabel for="advanced" value="Escolha o produto: *" />
				<p:selectOneMenu id="advanced" converter="lenteConverter"
					value="#{homeController.produtoSelecionado}"
 					effect="fade"
					style="width:560px; margin-bottom: 20px; background-color: white;" filter="true"
					filterMatchMode="startsWith">
					<f:selectItem noSelectionOption="true" itemLabel="Selecione..."
						itemValue="" />
					<f:selectItems value="#{produtoController.produtos}" var="p"
						itemLabel="#{p.nm_produto}" itemValue="#{p}" />
				</p:selectOneMenu>
				
				<h:commandButton style="width:580px;" value="Continuar" id="commandButton-continuar"
					icon="ui-icon-gear" styleClass="btn btn-primary"
					actionListener="#{homeController.continuarPrimeiro}" />

			</h:panelGrid>
		</h:form>

	</ui:define>

	<f:metadata>
		<f:event type="preRenderView" listener="#{produtoController.init}" />
	</f:metadata>

</ui:composition>