<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>

	<h:outputStylesheet library="css" name="default.css" />

</h:head>

<h:body style="display:flex;">


	<h:form style=" margin:auto;">

		<p:growl id="growl-mensagem" showDetail="true" sticky="true" />

		<p:panel id="panel-login-principal" header="Login"
			style="width:600px; ">

			<h1 style="text-align: center;">Você é uma loja ?</h1>

			<p:spacer style="hight: 2px" />

			<h:panelGrid columns="4">
				<p:commandButton value="Sim" id="commandButton-acessar"
					icon="ui-icon-gear" styleClass="btn btn-primary"
					action="#{homeController.redirectCadastroLoja()}"
					update="growl-mensagem" style="margin-left: 185px" />

				<p:spacer style="hight: 1px" />

				<p:commandButton value="Nao" id="commandButton-cadastrar"
					icon="ui-icon-gear" styleClass="btn btn-secondary" action="#{homeController.redirectPergunta()}"
					update="growl-mensagem" />

			</h:panelGrid>

		</p:panel>

	</h:form>

	<f:metadata>
		<f:event type="preRenderView"
			listener="#{homeController.init}" />
	</f:metadata>

</h:body>
</html>