<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ul class="sidebar-menu">
		<li><p:link rendered="#{usuarioController.temLoja() eq 'nao'}" href="/sistema/home.xhtml">
				<i class="fa fa-home"></i>
				<span>Home</span>
			</p:link></li>
	<li class="header">Ferramentas</li>
		<li><p:link rendered="#{usuarioController.temLoja() eq 'nao'}" href="/sistema/gerenciarUser.xhtml">
				<i class="fa fa-user"></i>
				<span>Gerenciar User</span>
			</p:link></li>
		<li><p:link rendered="#{usuarioController.temLoja() eq 'sim'}" href="/sistema/gerenciarLoja.xhtml">
				<i class="fa fa-user"></i>
				<span>Gerenciar Loja</span>
			</p:link></li>
	</ul>

</ui:composition>