<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">

	<ul class="nav navbar-nav">


		<li class="dropdown user user-menu"><a class="dropdown-toggle"
			data-toggle="dropdown"> <h:form>
					<p:commandButton value="Sair" action="#{usuarioController.Logout}" />
				</h:form>
		</a></li>
	</ul>


</ui:composition>