<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">

	<h:form>

		<p:menubar style="background-color: blue">
			<p:submenu label="Cadastrar">
				<p:menuitem rendered="#{usuarioController.isAdm() eq 'adm'}" value="Usuario" url="cadastrarUsuario.xhtml" />
				<p:menuitem value="Cliente" url="cadastrarCliente.xhtml" />
				<p:menuitem value="Lente" url="cadastrarLente.xhtml" />
				<p:menuitem rendered="#{usuarioController.isAdm() eq 'adm'}" value="Armacao" url="cadastrarArmacao.xhtml" />
				<p:menuitem value="Pedido" url="cadastrarPedido.xhtml" />
			</p:submenu>

			<p:submenu label="Ferramentas">
				<p:menuitem value="Consultar Usuarios" url="consultarUsuarios.xhtml"  />
				<p:menuitem value="Consultar Clientes" url="consultarClientes.xhtml" />
				<p:menuitem value="Consultar Pedidos" url="consultarPedidos.xhtml" />
				<p:menuitem value="Estoque" url="estoque.xhtml" />
				<p:menuitem value="Consultar Fechamentos" url="consultarFechamentos.xhtml" />
				
			</p:submenu>
			
			<p:menuitem value="Gerar Fechamento" url="fechamento.xhtml"  />

			<f:facet name="options">
				<p:commandButton value="Logout" icon="pi pi-home"
					action="#{usuarioController.Logout}" />
			</f:facet>
		</p:menubar>
	</h:form>
</ui:composition>
