<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>

	<h:outputStylesheet library="css" name="default.css" />

</h:head>

<h:body style="display:flex;">


	<h:form style=" margin:auto;">

		<p:growl id="growl-mensagem" showDetail="true" sticky="true" />

		<p:panel id="panel-login-principal" header="Cadastro"
			style="width:600px; ">
			
			<h:panelGrid id="panelGrid-campos-form">
			
				<p:outputLabel value="Nome" for="inputText-usuario" />
				<p:inputText id="inputText-usuario" style="width:300px"
					maxlength="70" value="#{usuarioController.usuarioEntity.nome}" />
					
				<p:outputLabel value="Email" for="inputText-email" />
				<p:inputText id="inputText-email" style="width:300px"
					maxlength="70" value="#{usuarioController.usuarioEntity.email}" />

				<p:outputLabel value="Senha" for="inputText-senha" />
				<p:password id="inputText-senha" style="width:200px" maxlength="30"
					value="#{usuarioController.usuarioEntity.senha}" />

				<p:outputLabel value="Sexo" />
				<p:selectOneRadio id="inputText-sexo"
					value="#{usuarioController.usuarioEntity.sexo}">
					<f:selectItem itemLabel="Masculino" itemValue="Masculino" />
					<f:selectItem itemLabel="Feminino" itemValue="Femenino" />
					<f:selectItem itemLabel="Indefinido" itemValue="Indefinido" />
				</p:selectOneRadio>
				
				<p:outputLabel value="Tel. Celular" for="inputText-telefoneCel" />
				<p:inputMask mask="(99)99999-9999" id="inputText-telefoneCel"
					style="width:130px"
					value="#{usuarioController.usuarioEntity.telefone}" />
				
				<p:outputLabel value="Endereço" for="inputText-endereco" />
				<p:inputText id="inputText-endereco" style="width:300px"
					maxlength="70" value="#{usuarioController.usuarioEntity.endereco}" />
				
				<h:panelGrid columns="2" style="margin-top: 10px">

					<p:commandButton value="Salvar" id="commandButton-salvar"
						icon="ui-icon-gear" styleClass="btn btn-primary"
						actionListener="#{usuarioController.cadastrarUsuario()}"
						update="growl-mensagem" />
						
					<p:commandButton value="Voltar" id="commandButton-voltar"
						icon="ui-icon-gear" styleClass="btn btn-secondary"
						actionListener="#{usuarioController.voltar()}" />
				</h:panelGrid>
					
			</h:panelGrid>
				
		</p:panel>

	</h:form>

</h:body>
</html>